@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset hasła";
}

<hr />

@Model.UserId
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <input asp-for="UserId" value="@Model.UserId" type="hidden"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="oldPassword" class="control-label"></label>
                <input asp-for="oldPassword" class="form-control" />
                <span asp-validation-for="oldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPassword" class="control-label"></label>
                <input asp-for="newPassword" class="form-control" />
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Resetuj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
